<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>familien_suche.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>32</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
				<key>dateExpires</key>
				<string>11/27/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>32</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4994905C2682BF310BBC6699AE0EF5CF17EFBDF0</string>
						<key>dateExpires</key>
						<string>11/27/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WHH8L9M24K</string>
						<key>name</key>
						<string>Dominik Mast</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WHH8L9M24K.com.example.familienSuche</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>WHH8L9M24K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3efbf400-8ea0-45f5-a051-e840c021101e</string>
				<key>dateExpires</key>
				<string>11/27/23</string>
				<key>name</key>
				<string>families worldwide</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WHH8L9M24K</string>
				<key>name</key>
				<string>Dominik Mast</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.2</string>
		</dict>
	</array>
</dict>
</plist>
